body{
    background-color:rgb(250, 187, 162)
}
h1{
    font-family: Arial, Helvetica, sans-serif
}
.headerimage{
    background-image: url('assets/img/about-bg.jpg')
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 3%;
}
h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  
}
h3{
    font-weight: lighter;
}
.homepageimage{
    height:400px;
    width: 465px;
    
}
.homepageimage2{
    height: 400px;
    width: 465px;
}
.homepageimage3{
    height: 400px;
    width: 465px;
}
.btn{
    background-color:black
}
        

